.navbar-container {
  width: 200px;
  height: 100vh;
  position: fixed;
  padding: 0%;
  margin: 0%;
  border: 0;
  top: 0;
  left: 0;
  background-color: hsla(216, 63%, 57%, 0.8);
 
  font-family:  Arial,sans-serif;
  color: rgb(236, 229, 229);
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px ;
  
  
}

.small-image {
  /* width: 240px;
 height: 240px;
 padding: 0;
 margin-left: 27px;
 margin-right: 0; */

 width: 215px;
 height: 240px;
padding: 0;
margin-left: 0;
margin-right: 0;

   
}

.nav-items {
  margin-bottom: 20px;
  cursor: pointer;
}



.nav-item {
  display: flex;
  width: 100%;
  padding-left: 0%;
  margin-left: 0%;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #363535;  
  background-color: rgb(197, 213, 235);
  opacity: 0.5;
 
}

.nav-icon {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 7px;
}

.terms,
.policy {
  font-size: 12px;
  text-align: center;
  font-family: Aclonica;
  margin-top: auto;
}

.tutors-profile-container {
  margin-left: 200px;
  padding: 2% 2% 0 2%;
  
}